# By default, ignore everything except README and LICENSE.
*
!README.md
!LICENSE

# Whitelist
!.gitignore
!.tmux.conf
!.vim/
.vim/*
!.vim/_swap/
!.vim/_swap/.gitignore
!.vimrc
!.zshrc
!testkeep/.gitkeep

# References:
# - https://github.com/davejamesmiller/dotfiles/
# - https://github.com/arusahni/dotfiles/
